*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    height: 10%;
    padding: 5px;
    align-items: center;
}

.logo{
    font-size: 1.5em;
}

.navbar ul li{
    list-style-type: none;
    margin-right: 50px;
    color: white;
    
}

ul li:first-child {
    margin-right: 75%;
}

.navbar ul li a{
    text-decoration: none;
}


.botao{
    background-color:white;
    border-radius: 18%;
    height: 40px;
    border-radius: 20px;
    padding: 5px;
    width: 125px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.botao a{
    color: black;
}

.botao:hover{
    background-color: #dee2e6;
}

.logo{
    margin-right: 50px;
}

i{
    margin-right: 5px;
}


.conteudo{
    display: flex;
    flex-direction: row;

}
.esquerda{
    width: 50%;
    padding-left: 50px;
}

.direita{
    width: 50%;
    height: 50%;
    margin-right: 10%;
}

.radio{
    font-size: 1.3em;
    margin-left: 50px;
}


.inputs{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    gap: 1rem;
    padding-top: 1.5rem;
    
}

.inputs input{
border:none;
background-color: #e9ecef;

}

.label{
    margin-right: 15px;
}
.short-input{
    width: calc(50% - .5rem);
    font-size: 1.3em;
    padding: 10px;
}

.normal-input{
    width: 100%;
    font-size: 1.3em;
    padding: 10px;
}


p{
    margin-left: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}

.titulo{
    font-size: 3.5em;
    color: #343a40;
}

.subtitulo{
    font-size: 1.3em;
}

.button{
    width: 200px;
    font-size: 1.1em;
    margin-top: 25px;
    margin-left: 50px;
    color: white;
    border: none;
    background-color: black;
    padding: 15px;
    font-weight: 550;
}

.button:hover{
    background-color: #343a40;
}

.policy{
    font-size: 0.9em;
    color: #b7b7a4;
}

.signin{
    font-size: 0.8em;
}